<form action ="/products" method="post">
  <p> enter the product's name<input type ="text" name="name"></p>
  <p> enter the product's description<input type="text" name="description"></p>
  <input type="submit">
</form>